#diff {
  font-family: monospace;;

  .replacement {
    .right a {
      background-color: rgba(0, 255, 0, 0.15);
    }

    .left a {
      background-color: rgba(255, 0, 0, 0.15);
    }
  }

  .added, .right .right {
    background-color: rgba(0, 255, 0, 0.25);
  }

  .removed, .left .left {
    background-color: rgba(255, 0, 0, 0.25);
  }

  .start {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .line:hover .number {
    background-color: rgba(255, 6, 222, 0.25);
  }

  .number {
    opacity: 0.5;
  }

  .comment {
    .preview {
      min-height: 4em;
    }

    .submit {
      margin: 0.25em 1.5em 0.1em 1em;
    }
  }

  .status {
    a {
      margin-left: 0.75em;
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 0.25em;

      &:hover {
        background-color: rgba(255, 255, 0, 0.25);
      }
    }
  }
}